# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtualenv
venv/
env/

# Audios temporales
temp/
*.m4a
*.mp3
*.wav

# Whisper model cache
~/.cache/whisper/
~/.whisper/
whisper_backups/

# Modelos descargados si los hay
*.bin
*.pt

# Otros
.DS_Store
